*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #02040E;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    color: #ffffff;
}
header{
    width: 100%;
    height: max-content;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}
header .profile{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2E3440;
    padding: 20px;
}
.main{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main .getApi{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 300px;
}
.main .getApi.off{
    display: none;
}
.main .getApi h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.main .getApi button{
    width: 300px;
    height: 50px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    border-radius: 25px;
    border: none;
    background: linear-gradient(45deg, #ffcf23, #ff8d3a);
    color: #02040E;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02040e5e;
    margin-top: 20px;
    cursor: pointer;
}

.main .myInfos{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
    margin-top: 300px;
}
.main .myInfos.off{
    display: none;
}
.main .myInfos .progress{
    background-color: #2E3440;
    width: 500px;
    height: max-content;
    padding: 30px;
    border-radius: 25px;
}
.main .myInfos .progress h1{
    margin-bottom: 30px;
}

.main .myInfos .myApiKeys{
    margin-top: 50px;
    width: 500px;
    height: max-content;
    padding: 30px;
    background-color: #2E3440;
    border-radius: 25px;
}
.main .myInfos .myApiKeys div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 30px 0px;
}
.main .myInfos .myApiKeys div button{
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background-color: #02040E;
    color: #ffffff;
    border-radius: 10px;
}